<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HCA demo</title>
<meta http-equiv="refresh" content="20" />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


  <p>Please upload a spreadsheet</p>

    <form action="upload" method="POST" enctype="multipart/form-data">
        <input  name="file" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        <button>Upload</button>
    </form>

<table>
    <tr>
        <th>Submission</th>
        <th>Status</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Complete</th>
    </tr>

{% for sub in submissions %}
    <tr>
        <td>
            <a href="{{sub['_links']['self']['href'] }}">{{sub["_links"]["self"]["href"] }}</a>
        </td>
        <td>
            {{ sub["submissionStatus"]}}
        </td>
        <td>
            {{ sub["submissionDate"]["date"]}}
        </td>
        <td>
            {{sub["updateDate"]["date"] }}
        </td>
        <td>
            <form action="submit" method="POST">
                <input type="hidden" name="submissionUrl" value="{{sub['_links']['submit']['href'] }}"/>
                <button onclick="return confirm('Are all data files uploaded to the staging area?');">Complete submission</button>
            </form>
        </td>

    </tr>
{% endfor %}

</table>


</body>
</html>