{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/submission.css')}}">
<script src="{{url_for('static', filename = 'js/submission.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div>
            <div class="col-lg-8"><h3>Submission</h3></div>
            <div class="col-lg-2">
                <h3>
                    <div class="right">
                        <span class="label {{ helper['status_label'][sub['submissionState']] or helper['default_status_label']}}">{{ sub['submissionState']}}</span>
                    </div>
                </h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <dl class="dl-horizontal">
                <dt>UUID</dt>
                <dd>{{sub['uuid']['uuid']}}
                    <a title="Ingest API Link" href="{{sub['_links']['self']['href']}}">
                        <span class="glyphicon glyphicon glyphicon glyphicon glyphicon-share" aria-hidden="true"></span>
                    </a>
                </dd>
                <dt>Created</dt>
                <dd><span class="date-column" data-date="{{ sub["submissionDate"]["date"] }}">
                    </span></dd>
                <dt>Updated</dt>
                <dd><span class="date-column" data-date="{{ sub["updateDate"]["date"] }}">
                    </span></dd>
                <!--<dt>Ingest API Link</dt>-->
                <!--<dd><a href="{{sub['_links']['self']['href'] }}">{{sub["_links"]["self"]["href"] }}</a></dd>-->
            </dl>
        </div>
    </div>

    {% if project: %}
    <div class="row">
        <div class="col-lg-10">
            <dl class="dl-horizontal">
                <dt>Project Title</dt>
                <dd>{{project['content']['title']}}</dd>
                <dt>Project UUID</dt>
                <dd>{{project['uuid']['uuid']}}</dd>
                <dt>Description</dt>
                <dd class="text-justify">{{project['content']['description']}}</dd>
            </dl>
        </div>
    </div>
    {% endif %}

    {% if files: %}
    <div class="row">
        <div class="col-lg-10">
            <dl class="dl-horizontal">
                <dt>Files</dt>
                <dd>
                    <table id="files" class="table table-condensed">
                        <thead>
                        <tr>
                            <th>UUID</th>
                            <th>File</th>
                            <th>Url</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for file in files %}
                        <tr>
                            <td>
                                {%  if file['uuid']['uuid'] is defined %}
                                    {{file['uuid']['uuid']}}
                                {% endif %}<a title="Ingest API Link" href="{{file['_links']['self']['href']}}">
                                <span class="glyphicon glyphicon glyphicon glyphicon glyphicon-share" aria-hidden="true"></span>
                            </a>
                            </td>
                            <td>
                                {%  if file['fileName'] is defined %}
                                    {{file['fileName']}}
                                {% endif %}
                            </td>
                            <td>
                                {%  if file['cloudUrl'] is defined %}
                                    {{file['cloudUrl']}}
                                {% endif %}
                            </td>
                            <td>
                                <span class="date-column" data-date="{{ file["submissionDate"]["date"]}}">
                                </span>
                            </td>
                            <td>
                                <span class="date-column" data-date="{{ file["updateDate"]["date"] }}">
                                </span>

                            </td>
                            <td>
                                <div class="right">
                                    <span class="label {{ helper['status_label'][file['validationState']] or helper['default_status_label']}} label-lg">{{ file['validationState']}}</span>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    *Showing max result of 20 ...
                    <!--TODO: show the total no. of files-->
                </dd>
            </dl>
        </div>
    </div>
    {% endif %}

    {% if sub['stagingDetails']['stagingAreaLocation'] is defined %}
    <div class="row">
        <div class="col-lg-10">
            <dl class="dl-horizontal">
                <dt>Staging Credentials</dt>
                <dd>
                    <pre><code id="staging-credentials">{{sub['stagingDetails']['stagingAreaLocation']['value'] }}</code></pre>
                    <form action="staging/delete" method="POST">
                        <button type="button" class="btn btn-default btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard"> Copy Credentials</button>

                        <input type="hidden" name="submissionUrl" value="{{sub['_links']['self']['href'] }}"/>
                        <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete the staging area?');">Delete Staging Area</button>


                    </form>

                </dd>
            </dl>

        </div>
    </div>
    {% endif %}
    {%  if sub['_links']['submit'] is defined %}
    <div class="row">
        <div class="col-lg-10">
            <dl class="dl-horizontal">
                <dt></dt>
                <dd>
                    <form action="submit" method="POST">
                        <input type="hidden" name="submissionUrl" value="{{sub['_links']['submit']['href'] }}"/>
                        <button class="btn btn-success" onclick="return confirm('Are all data files uploaded to the staging area?');">Complete submission</button>
                    </form>

                </dd>
            </dl>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}